.header
{
    height: 10%;
    display: flex;
    font-family: 'Big Shoulders Stencil Text', cursive;
}
.header h1{
    color: rgb(134, 255, 134);
}
.header img
{
    border-radius: 50%;
}
.App h2
{
    margin: 20px auto;
   color: whitesmoke;
}
.container label
{
    color: blanchedalmond;
}

.meme
{
    border: 1px solid brown;
    border-radius: 10px;
}
.meme-form
{
    border: 1px solid white;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    color: blueviolet;
}
.meme-form input
{
    width: 95%;
    margin: 10px auto;
}
.btn
{
    margin: 10px auto;
}
.meme {
    position: relative;
    width: 70%;
    margin: 10px auto;
}

.meme > img {
    width: 90%;
    display: flex;
    margin: 5px auto;
    border-radius: 10px;
}

.meme > h2 {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 25px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.meme > .bottomText {
    bottom: 0;
}

.meme > .topText {
    top: 0;
}
